.calculator {
  display: flex;
  gap: 60px;
  padding: 165px 45px;
  padding-bottom: 115px;
  background: $bcg no-repeat 130% -10% url("../img/bcg/form-bcg.webp");

  .btn {
    max-width: 200px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 50px;
    padding: 50px 15px;
    background: $bcg no-repeat 150% 0 url("../img/bcg/form-bcg.webp");
  }
}

.calculator__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $tablet-width) {
    &:first-child {
      order: 2;
    }
  }
}

.calculator__heading {
  margin-bottom: 15px;
  padding-bottom: 15px;
  max-width: 337px;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid $text-black;

  @media (max-width: $tablet-width) {
  }
}

.calculator__about {
  max-width: 336px;
  margin-bottom: 15px;
  font-family: "Jua", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}

.calculator__sub-about {
  margin-bottom: 15px;
}

.calculator__rectangle {
  position: absolute;
  top: -40px;
  display: block;
  width: 149px;
  height: 365px;
  border-radius: 24.746px;
  background: $basic-white;
  box-shadow: 0px 4px 4px 0px rgba(196, 196, 196, 0.25);

  &--first {
    left: 0;
  }

  &--second {
    right: 0;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
