.come-on {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: $basic-white;

  background-size: contain;

  @media (max-width: $tablet-width) {

    background-size: cover;

    .come-on__heading,
    .come-on__about {
      text-align: center;
    }
  }
}

.come-on__about {
  margin-bottom: 40px;
}
