.come-on {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: $text-black;
  background-image: url("../img/bcg/come-on-bcg.webp"), url("../img/bcg/come-on-bcg2.webp");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 100%, 100% 100%;

  @media (max-width: $tablet-width) {
    padding-right: 25px;
    padding-left: 25px;
    background-position: 0 100%, 200% 100%;
  }
}
