.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 330px;
  padding: 27px;
  background: $basic-white;
  border-radius: 15px;
  border: 1px solid $btn-hover;
  outline: 12px solid $basic-white;

  a {
    text-decoration: underline;
    color: $text-black;
  }


  @media (max-width: $tablet-width) {
    width: 100%;

    .btn {
      align-self: center;
      width: calc(100% - 25px);
    }
  }
}

.form__heading {
  padding: 0 30px;
  text-align: center;
  font-family: "Jua", "Arial", sans-serif;
  font-weight: 400;
  font-size: 32px;
}

input {
  box-sizing: border-box;
  max-height: 45px;
  padding: 22px 10px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $text-black;
  border-radius: 10px;
  border: 1px solid $btn-hover;

  &[type= "checkbox"] {
    accent-color: #c0cef3;
  }
}

.form__checkbox-label {
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat", "Arial", sans-serif;
}

.form_message.error.inactive {
  display: none;
}

.form_message.error.active {
  display: block;
  color: #0a0a0a;
}

.error {
  color: #831b1b;
  border-color: #831b1b !important;
}

label.error {
  margin-top: -25px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

#phone1-error,
#phone2-error {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}
