.promo {
  display: flex;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.promo__link {
  text-align: center;
  margin-bottom: 47px;
  padding: 10px;
  max-width: 170px;
  border-radius: 100px;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid $main2-color;

  &:hover {
    background: $btn;
    opacity: 1;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;

  &:first-child {
    box-sizing: border-box;
    max-width: 730px;
    padding-right: 130px;
  }

  &--form {
    padding: 60px 90px;
    background: $bcg no-repeat 100% 0 url("../img/bcg/form-bcg.webp");
  }

  @media (max-width: $tablet-width) {
    &:first-child {
      padding: 15px;
    }

    &--form {
      padding: 50px 20px;
      background: $bcg no-repeat 60% 50% url("../img/bcg/form-bcg.webp");
    }
  }
}

.promo__attention {
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
  padding: 10px;
  max-width: 170px;
  border-radius: 100px;
  background: $main2-color;
}

.promo__heading {
  margin-bottom: 17px;
  padding-right: 250px;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;

  @media (max-width: $tablet-width) {
    padding-right: 0;
    max-width: 325px;
  }
}

.promo__about {
  margin-bottom: 50px;
  text-transform: capitalize;
}

.promo__rating {
  position: relative;
  display: flex;
  color: $icon-color;

  svg {
    fill: transparent;
    stroke: $icon-color;
  }
}

.promo__star {
  display: flex;
  gap: 6px;
  align-items: center;
}

.promo__rating-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 125px;
}

.promo__img {
  position: absolute;
  border-radius: 50%;

  &--1 {
    z-index: 1;
    left: 0;
  }

  &--2 {
    z-index: 2;
    left: 25px;
  }

  &--3 {
    z-index: 3;
    left: 50px;
  }
}
