.review {
  display: flex;
  flex-direction: column;
  padding: 70px;
  padding-bottom: 100px;

  @media (max-width: $tablet-width) {
    padding: 100px 0;
  }

}

.review__heading {
  margin-bottom: 50px;
  font-family: "Jua", "Arial", sans-serif;
  font-weight: 400;
  font-size: 32px;

  @media (max-width: $tablet-width) {
    margin-left: 15px;
  }
}

.review__list {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 40px;
  }
}

.review__card {
  box-sizing: border-box;
  max-width: 350px;
  padding: 51px 28px;
  background: $bcg;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(196, 196, 196, 0.25);

  @media (max-width: $tablet-width) {
    max-width: unset;
    width: 100%;
  }
}

.review__avatae-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  margin-bottom: 13px;
}

.review__img {
  border-radius: 50%;
}

.review__name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
  color: $icon-color;

  cite {
    font-style: normal;
  }
}

.review__star {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  svg {
    fill: transparent;
    stroke: $icon-color;
  }
}
