/* Fonts */

// Montserrat

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"),
    url("../fonts/montserrat/Montserrat-Medium500.woff2") format("woff2"),
    url("../fonts/montserrat/Montserrat-Medium500.woff") format("woff"),
    url("../fonts/montserrat/Montserrat-Medium500.ttf") format("truetype");
}

// Inter

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter Regular"),
    url("../fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/inter/Inter-Regular.woff") format("woff"),
    url("../fonts/inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter Medium"),
    url("../fonts/inter/Inter-Medium.woff2") format("woff2"),
    url("../fonts/inter/Inter-Medium.woff") format("woff"),
    url("../fonts/inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Inter Semi Bold"),
    url("../fonts/inter/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/inter/Inter-SemiBold.woff") format("woff"),
    url("../fonts/inter/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inter Bold"),
    url("../fonts/inter/Inter-Bold.woff2") format("woff2"),
    url("../fonts/inter/Inter-Bold.woff") format("woff"),
    url("../fonts/inter/Inter-Bold.ttf") format("truetype");
}


// Jua

@font-face {
  font-family: "Jua";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Jua Regular"),
    url("../fonts/jua/Jua-Regular.woff2") format("woff2"),
    url("../fonts/jua/Jua-Regular.woff") format("woff"),
    url("../fonts/jua/Jua-Regular.ttf") format("truetype");
}
