//Colors
$main-color: #003299;
$main2-color: #c7f0f9;

$basic-white: #ffffff;
$basic-black: #000000;

$text-black: #121212;

$bcg: #f1f5fe;
$bcg-black: #121212;

$icon-color: #868686;

$btn: #8ffb84;
$btn-hover: #c7f0f9;
$btn2-hover: #c15c09;

$white-text: #fbfbfb;

$input-border: #e8e9e9;
$input-color: #757575;
$att-color: #b1b1b1;
$play-btn-color: #9d9797;

$slider-control: #d9d9d9;

// Viewprts
$tablet-width: 768px;
